#textdomain wesnoth-The_Silver_Lands
# $Id: items.cfg 5609 2009-10-17 07:46:38Z espreon $

#define SIGNPOST _X _Y _TEXT
    [item]
        x,y={_X},{_Y}
        image=scenery/signpost.png
    [/item]

    [event]
        name=moveto
        [filter]
            x,y={_X},{_Y}
            side=1
        [/filter]
        [allow_undo][/allow_undo]
        [redraw][/redraw]
        [message]
            speaker=narrator
            image="scenery/signpost.png"
            message={_TEXT}
        [/message]
    [/event]
#enddef

#define PORTAL _SX _SY _DX _DY
    [item]
        x,y={_SX},{_SY}
        image=misc/circle-magic-glow.png
    [/item]
    [item]
        x,y={_DX},{_DY}
        image=misc/circle-magic-glow.png
    [/item]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            x,y={_SX},{_SY}
        [/filter]
        [allow_undo][/allow_undo]
        [teleport]
            [filter]
                x,y={_SX},{_SY}
            [/filter]
            [allow_undo][/allow_undo]
            x,y={_DX},{_DY}
        [/teleport]
        [redraw][/redraw]
        [scroll_to]
            x,y={_DX},{_DY}
        [/scroll_to]
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            x,y={_DX},{_DY}
        [/filter]
        [allow_undo][/allow_undo]
        [teleport]
            [filter]
                x,y={_DX},{_DY}
            [/filter]
            [allow_undo][/allow_undo]
            x,y={_SX},{_SY}
        [/teleport]
        [redraw][/redraw]
        [scroll_to]
            x,y={_SX},{_SY}
        [/scroll_to]
    [/event]
#enddef

#define ITEM_TOUCHPLATE _X _Y
    [item]
        x,y={_X},{_Y}
        halo=items/touchplate-5.png:1600,items/touchplate-10.png:10,items/touchplate-15.png:10,items/touchplate-20.png:10,items/touchplate-25.png:10,items/touchplate-30.png:10,items/touchplate-35.png:10,items/touchplate-40.png:10,items/touchplate-45.png:10,items/touchplate-50.png:10,items/touchplate-55.png:10,items/touchplate-60.png:10,items/touchplate-65.png:10,items/touchplate-70.png:10,items/touchplate-75.png:10,items/touchplate-80.png:10,items/touchplate-85.png:10,items/touchplate-90.png:10,items/touchplate-95.png:10,items/touchplate-100.png:640,items/touchplate-95.png:10,items/touchplate-90.png:10,items/touchplate-85.png:10,items/touchplate-80.png:10,items/touchplate-75.png:10,items/touchplate-70.png:10,items/touchplate-65.png:10,items/touchplate-60.png:10,items/touchplate-55.png:10,items/touchplate-50.png:10,items/touchplate-45.png:10,items/touchplate-40.png:10,items/touchplate-35.png:10,items/touchplate-30.png:10,items/touchplate-25.png:10,items/touchplate-20.png:10,items/touchplate-15.png:10,items/touchplate-10.png:10
    [/item]
#enddef

# Halo used by crystal glyphs

# wmlindent: start ignoring
#define __HALO_CRYSTAL_GLYPH
halo/elven/shyde-stationary-halo1.png:150,halo/elven/shyde-stationary-halo2.png:150,halo/elven/shyde-stationary-halo3.png:150,halo/elven/shyde-stationary-halo4.png:150,halo/elven/shyde-stationary-halo5.png:150,halo/elven/shyde-stationary-halo6.png:150 #enddef
# wmlindent: stop ignoring

#define OBJ_HEALING_GLYPH _X _Y
    [item]
        x,y={_X},{_Y}
        image=items/crystal-glyph.png
        halo={__HALO_CRYSTAL_GLYPH}
    [/item]
    [event]
        name=prestart
        [set_variable]
            name=glyph_show_details
            value=yes
        [/set_variable]
        [set_variable]
            name=glyph_at_{_X}_{_Y}_used
            value=no
        [/set_variable]
    [/event]
    [event]
        name=victory
        [clear_variable]
            name=glyph_show_details
        [/clear_variable]
        [clear_variable]
            name=glyph_text
        [/clear_variable]
        [clear_variable]
            name=glyph_at_{_X}_{_Y}_used
        [/clear_variable]
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            x,y={_X},{_Y}
        [/filter]
        [allow_undo]
        [/allow_undo]
        [redraw]
        [/redraw]
        [if]
            [variable]
                name=glyph_at_{_X}_{_Y}_used
                boolean_equals=no
            [/variable]
            [then]
                [if]
                    [variable]
                        name=glyph_show_details
                        boolean_equals=yes
                    [/variable]
                    [then]
                        [set_variable]
                            name=glyph_text
                            value=_"Do you want to be healed?

This magic glyph will completely restore this unit's health, also unslowing and removing poison from it, if applicable."+"

<small><span color='{PANGO_COLOR_GRAYED}'>"+_"Note: the glyph can do this only once, and when done it will fade out."+"</span></small>"
                        [/set_variable]
                        [set_variable]
                            name=glyph_show_details
                            value=no
                        [/set_variable]
                    [/then]
                    [else]
                        [set_variable]
                            name=glyph_text
                            value=_"Do you want to be healed?"+"

<small><span color='{PANGO_COLOR_GRAYED}'>"+_"Note: the glyph can do this only once, and when done it will fade out."+"</span></small>"
                        [/set_variable]
                    [/else]
                [/if]
                [message]
                    speaker=narrator
                    caption= _ "Crystal Glyph of Health"
                    image=items/crystal-glyph.png
                    message=$glyph_text
                    [option]
                        message={STR_YES}
                        [command]
                            [object]
                                id=healing_glyph_at_{_X}_{_Y}
                                name= _ "Crystal Glyph of Health"
                                image=items/crystal-glyph.png
                                description= _ "The unit is fully healed, cured and unslowed."
                                [filter]
                                    side=1
                                    x,y={_X},{_Y}
                                [/filter]
                                [then]
                                    [if]
                                        [variable]
                                            name=unit.gender
                                            equals="female"
                                        [/variable]
                                        [then]
                                            [set_variable]
                                                name=temp_glyph_txt
                                                value=_"female^healed"
                                            [/set_variable]
                                        [/then]
                                        [else]
                                            [set_variable]
                                                name=temp_glyph_txt
                                                value=_"healed"
                                            [/set_variable]
                                        [/else]
                                    [/if]
                                    [removeitem]
                                        x,y={_X},{_Y}
                                    [/removeitem]
                                    [terrain]
                                        x,y={_X},{_Y}
                                        terrain=Uu
                                    [/terrain]
                                    [set_variable]
                                        name=glyph_at_{_X}_{_Y}_used
                                        value=yes
                                    [/set_variable]
                                    [sound]
                                        name=heal.wav # wmllint: ignore
                                    [/sound]
                                    [set_variable]
                                        name=unit.status.poisoned
                                        value=no
                                    [/set_variable]
                                    [set_variable]
                                        name=unit.status.slowed
                                        value=no
                                    [/set_variable]
                                    [set_variable]
                                        name=unit.status.petrified
                                        value=no
                                    [/set_variable]
                                    [set_variable]
                                        name=unit.moves
                                        value=0
                                    [/set_variable]
                                    [unstore_unit]
                                        variable=unit
                                        text=$temp_glyph_txt
                                        {COLOR_HEAL}
                                    [/unstore_unit]
                                    [redraw]
                                    [/redraw]
                                    [clear_variable]
                                        name=temp_glyph_txt
                                    [/clear_variable]
                                [/then]
                                [effect]
                                    apply_to=hitpoints
                                    heal_full=yes
                                [/effect]
                            [/object]
                        [/command]
                    [/option]
                    [option]
                        message={STR_NO}
                    [/option]
                [/message]
            [/then]
        [/if]
    [/event]
#enddef

#################################### BASE OBJECTS CODE ####################################

#define PICK_UP_QUIET _IMG _X _Y _OBJECT_CODE_AND_ACTIONS
    [event]
        name=victory
        [clear_variable]
            name=pickups.generic_flag_{_X}_{_Y}
        [/clear_variable]
    [/event]
    [item]
        image={_IMG}
        x={_X}
        y={_Y}
    [/item]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            x={_X}
            y={_Y}
        [/filter]
        [redraw][/redraw]
        [if]
            [variable]
                boolean_equals=no
                name=pickups.generic_flag_{_X}_{_Y}
            [/variable]
            [then]
                [message]
                    speaker=narrator
                    image=wesnoth-icon.png
                    message= _ "Do you want this unit to pick up this item?"
                    [option]
                        message={STR_YES}
                        [command]
                            {_OBJECT_CODE_AND_ACTIONS}
                            [+object]
                                [+then]
                                    # Mark object as picked-up; won't happen if the object's filter
                                    # doesn't match primary_unit
                                    [set_variable]
                                        name=pickups.generic_flag_{_X}_{_Y}
                                        value="yes"
                                    [/set_variable]
                                [/then]
                            [/object]
                        [/command]
                    [/option]
                    [option]
                        message={STR_NO}
                        [command]
                            [allow_undo][/allow_undo]
                        [/command]
                    [/option]
                [/message]
            [/then]
        [/if]
    [/event]
#enddef

#define PICK_UP _IMG _X _Y _VERBOSE_MSG _OBJECT_CODE_AND_ACTIONS
    [event]
        name=victory
        [clear_variable]
            name=pickups.generic_flag_{_X}_{_Y}
        [/clear_variable]
    [/event]
    [item]
        image={_IMG}
        x={_X}
        y={_Y}
    [/item]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1
            x={_X}
            y={_Y}
        [/filter]
        [redraw][/redraw]
        [if]
            [variable]
                boolean_equals=no
                name=pickups.generic_flag_{_X}_{_Y}
            [/variable]
            [then]
                [message]
                    speaker=unit
                    message={_VERBOSE_MSG}
                [/message]
                [message]
                    speaker=narrator
                    image=wesnoth-icon.png
                    message= _ "Do you want this unit to pick up this item?"
                    [option]
                        message={STR_YES}
                        [command]
                            {_OBJECT_CODE_AND_ACTIONS}
                            [+object]
                                [+then]
                                    # Mark object as picked-up; won't happen if the object's filter
                                    # doesn't match primary_unit
                                    [set_variable]
                                        name=pickups.generic_flag_{_X}_{_Y}
                                        value="yes"
                                    [/set_variable]
                                [/then]
                            [/object]
                        [/command]
                    [/option]
                    [option]
                        message={STR_NO}
                        [command]
                            [allow_undo][/allow_undo]
                        [/command]
                    [/option]
                [/message]
            [/then]
        [/if]
    [/event]
#enddef
