#textdomain wesnoth-The_Silver_Lands
#  $Id: _main.cfg 5695 2009-11-10 00:33:24Z espreon $
#
#  The Silver Lands
#  Copyright (C) 2008 by Steven Panek "Espreon"
#  <Majora700@gmail.com>
#
#  Base utilities and many other utilities were created by Ignacio R. Morelle "Shadow Master"
#  <shadowm2006@gmail.com>
#
#  This program is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 2 of the License, or
#  (at your option) any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

# Note to translators/revisers/whatevers: If you are too lazy to analyze
# all the files containing WML to find strings to translate/revise/analyze/whatever,
# then go to TEXT_SOURCES to find out which files to ignore.
# Also, please use a UTF-8-capable editor when reading this campaign's files; this campaign uses
# things such as em dashes, diacritics, et cetera.

# wmlscope: set export=no

# After the recent changes on the campaign's WML and plot structure, wmllint goes mad
# since it does not know how to expand *macros* for the [campaign] nodes.
# wmllint: validate-off

# Custom themes; according to the wiki, they must be defined outside the campaign's IFDEF
{~add-ons/The_Silver_Lands/external_data/themes}

# Wesnoth textdomain setup
[textdomain]
    name="wesnoth-The_Silver_Lands"
    path="data/add-ons/The_Silver_Lands/translations"
[/textdomain]

# Export external data to BfW's global cache
[binary_path]
    path="data/add-ons/The_Silver_Lands/external_data"
[/binary_path]

# Campaign menu entries

# wmlscope: start ignoring
#ifdef CAMPAIGN_THE_SILVER_LANDS_MENU_ENTRY_SHAREDINFO
#undef CAMPAIGN_THE_SILVER_LANDS_MENU_ENTRY_SHAREDINFO
#endif
# wmlscope: stop ignoring

#textdomain wesnoth-The_Silver_Lands

#define CAMPAIGN_THE_SILVER_LANDS_MENU_ENTRY_SHAREDINFO EPISODE_ID_SUFFIX EPISODE_SUBTITLE EPISODE_DESCRIPTION
    id=The_Silver_Lands_{EPISODE_ID_SUFFIX}
    define=CAMPAIGN_THE_SILVER_LANDS
    extra_defines=CAMPAIGN_THE_SILVER_LANDS_{EPISODE_ID_SUFFIX},ENABLE_ARMAGEDDON_DRAKE,ENABLE_ANCIENT_LICH
    version={~add-ons/The_Silver_Lands/dist/VERSION}
    difficulties=EASY,NORMAL,HARD
    name= _ "The Silver Lands"+"
"+{EPISODE_SUBTITLE}
    description={EPISODE_DESCRIPTION}+"

"+_"(Intermediate level, 2 scenarios done.)"+"

<span color='#808080'>"+_"Version:"+" {~add-ons/The_Silver_Lands/dist/VERSION}"+_"(requires Battle for Wesnoth 1.7.6 or later)"+"</span>"
    # Credits data source
    {~add-ons/The_Silver_Lands/about.cfg}
#enddef

[campaign]
    {CAMPAIGN_THE_SILVER_LANDS_MENU_ENTRY_SHAREDINFO I ( _ "Episode I:"+"
"+_"Gathering the Grand Power") ( _ "Even after the fall of the great Chaos Empire there are still those loyal to the great evil; those people are very eager to reform that monstrosity, and they are willing to do anything to unleash the horrible evils into this world.

Our 'little' story takes us to the region east of the commonly known, to an elementalist who will accomplish the seemingly impossible.")}
    first_scenario=01_The_Aftermath
    rank=259
    abbrev= _ "TSL-1"
    icon=campaign-menu-interface/tsl-episode1-icon.png
    # image="campaign-menu-interface/iftu-episode1-logo.png"
    difficulty_descriptions={MENU_IMG_TXT2 "campaign-menu-interface/TSL_L1.png" _"difficulty_menu^Initiate" ("<128,128,128>"+_"(Trivial)")} + ";*" + {MENU_IMG_TXT2 "campaign-menu-interface/TSL_L2.png~RC(magenta>red)" _"difficulty_menu^Sorcerer" ("<128,128,128>"+_"(Normal)")} + ";" + {MENU_IMG_TXT2 "campaign-menu-interface/TSL_L3.png~RC(magenta>red)" _"difficulty_menu^Sage" ("<128,128,128>"+_"(Sadistically Difficult)")}
[/campaign]
# [campaign]
#    {_ "Episode II:"+"
# `<128,128,128>"+_"FIXME") ( _ "FIXME.")}
#    first_scenario=14_Bye_and_Behold
#    rank=260
#    abbrev= _ "IftU-2"
#    icon="campaign-menu-interface/iftu-episode2-icon.png"
#    image="campaign-menu-interface/iftu-episode2-logo.png"
#    difficulty_descriptions={MENU_IMG_TXT2 "campaign-menu-interface/TSL_L1.png" _"difficulty_menu^Initiate" ("<150,255,150>"+_"(Trivial)")} + ";*" + {MENU_IMG_TXT2 "campaign-menu-interface/TSL_L2.png~RC(magenta>red)" _"difficulty_menu^Sorcerer" ("<255,255,150>"+_"(Normal)")} + ";" + {MENU_IMG_TXT2 "campaign-menu-interface/TSL_L3.png~RC(magenta>red)" _"difficulty_menu^Sage" ("<255,150,255>"+_"(Sadistically Difficult)")}
# [/campaign]

# wmllint: validate-on

#ifdef EDITOR
#define CAMPAIGN_THE_SILVER_LANDS
#enddef
#endif

#ifdef CAMPAIGN_THE_SILVER_LANDS
#
# Invalidate some preprocessor symbols that may
# be defined by other campaigns when loading with the map
# editor.
#
# wmlscope: start ignoring
#undef LDR_PATH
#undef LOG_TSL
#undef LOG_TSL_ERR
#undef LOG_TSL_WRN
#undef LOG_TSL_WARN
#undef LOG_TSL_LOG
# wmlscope: stop ignoring

# wmlindent: start ignoring
#define LDR_PATH
add-ons/The_Silver_Lands#enddef
# wmlindent: stop ignoring

# Data dir
# Export internal data to cache
[binary_path]
    path="data/{LDR_PATH}"
[/binary_path]

#ifndef EDITOR
{~{LDR_PATH}/base-debug.cfg}
{~{LDR_PATH}/base-loader.cfg}
#else
{~{LDR_PATH}/editor-loader.cfg}
#endif

#endif
